* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: hsl(217deg, 100%, 97%);
  gap: 20px;
}
body main {
  border: none;
  width: 800px;
  min-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background: hsl(0deg, 0%, 100%);
}
body main .navigation {
  width: 40%;
  background: url("./assets/images/bg-sidebar-desktop.svg");
  background-position: center;
  border-radius: 10px;
  background-size: cover;
  border: none;
  padding: 50px 30px;
}
body main .navigation ul li {
  list-style: none;
  margin-bottom: 30px;
}
body main .navigation ul li:nth-of-type(1) .order {
  background-color: hsl(206deg, 94%, 87%);
  color: hsl(213deg, 96%, 18%);
}
body main .navigation ul li > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: white;
}
body main .navigation ul li > div .order {
  width: 30px;
  height: 30px;
  border: 1px solid hsl(229deg, 24%, 87%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .navigation ul li > div .order p {
  font-size: 0.9rem;
  font-weight: 600;
}
body main .navigation ul li > div .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .navigation ul li > div .desc .order--level {
  font-size: 0.7rem;
  color: hsl(229deg, 24%, 87%);
}
body main .navigation ul li > div .desc .order--name {
  font-size: 0.8rem;
  font-weight: 600;
}
body main .form {
  width: -webkit-fill-available;
  padding-top: 30px;
  padding-bottom: 20px;
}
body main .form form {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  margin: auto;
}
body main .form form h1 {
  color: hsl(213deg, 96%, 18%);
  margin-bottom: 10px;
}
body main .form form > p {
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 14px;
  color: hsl(231deg, 11%, 63%);
}
body main .form form .personal > div {
  position: relative;
}
body main .form form .personal > div .error {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.8rem;
  color: hsl(354deg, 84%, 57%);
}
body main .form form .personal input, body main .form form .personal label {
  display: block;
  width: 100%;
  margin-top: 10px;
}
body main .form form .personal label {
  color: hsl(213deg, 96%, 18%);
  font-size: 14px;
}
body main .form form .personal label, body main .form form .personal input {
  font-weight: 500;
  color: hsl(231deg, 11%, 63%);
}
body main .form form .personal input {
  height: 35px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid hsl(231deg, 11%, 63%);
  padding-left: 15px;
  font-weight: 600;
}
body main .form form .personal input:focus, body main .form form .personal input:hover, body main .form form .personal input:active {
  outline: none;
  border: 1px solid hsl(243deg, 100%, 62%);
  background-color: none;
}
body main .form form .plan--choice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}
body main .form form .plan--choice .plan {
  padding: 15px;
  border: 1px solid hsl(229deg, 24%, 87%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
body main .form form .plan--choice .plan img {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 40px;
}
body main .form form .plan--choice .plan .plan--name {
  font-size: 0.9rem;
  color: hsl(213deg, 96%, 18%);
  font-weight: 700;
  margin-bottom: 10px;
}
body main .form form .plan--choice .plan .cost {
  font-size: 0.8rem;
  color: hsl(231deg, 11%, 63%);
}
body main .form form .plan--choice .plan:hover {
  border: 1px solid hsl(243deg, 100%, 62%) !important;
  cursor: pointer;
}
body main .form form .plan--choice .monYear {
  grid-column: 1/-1;
  margin-top: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: hsl(217deg, 100%, 97%);
  gap: 20px;
}
body main .form form .plan--choice .monYear p {
  font-size: 0.8rem;
  color: hsl(231deg, 11%, 63%);
}
body main .form form .plan--choice .monYear .toggle {
  background: hsl(213deg, 96%, 18%);
  width: 30px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
body main .form form .plan--choice .monYear .toggle .toggleBar {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
body main .form form .plan--choice .monYear .toggle:hover {
  cursor: pointer;
}
body main .form form .add--ons > div {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  padding: 20px;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid hsl(229deg, 24%, 87%);
}
body main .form form .add--ons > div:hover {
  border-color: hsl(243deg, 100%, 62%) !important;
  cursor: pointer;
}
body main .form form .add--ons > div .addon--checkbox {
  width: 22px;
  height: 22px;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body main .form form .add--ons > div .addon--checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
body main .form form .add--ons > div .addon--checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1px solid hsl(229deg, 24%, 87%);
  border-radius: 7px;
}
body main .form form .add--ons > div .addon--checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
body main .form form .add--ons > div .addon--checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
body main .form form .add--ons > div .addon--checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}
body main .form form .add--ons > div .addon--checkbox input:checked ~ .checkmark:after {
  display: block;
}
body main .form form .add--ons > div .addon--checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
body main .form form .add--ons > div .add--ons--info p {
  line-height: 1.2rem;
}
body main .form form .add--ons > div .add--ons--info .addon--name {
  font-size: 0.9rem;
  color: hsl(213deg, 96%, 18%);
  font-weight: 700;
}
body main .form form .add--ons > div .add--ons--info .addon--desc {
  font-size: 0.8rem;
  color: hsl(231deg, 11%, 63%);
}
body main .form form .add--ons > div .addon--cost {
  margin-left: auto;
  font-size: 0.9rem;
  color: hsl(243deg, 100%, 62%);
}
body main .form form .summary > div {
  padding: 20px;
}
body main .form form .summary .choice--preview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
  background: hsl(217deg, 100%, 97%);
  border-radius: 10px;
}
body main .form form .summary .choice--preview .choice--list:nth-of-type(1) {
  align-items: center;
}
body main .form form .summary .choice--preview .choice--list:nth-of-type(1) .choice {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: hsl(213deg, 96%, 18%);
}
body main .form form .summary .choice--preview .choice--list:nth-of-type(1) .choice .type--name {
  font-size: 0.9rem;
  font-weight: 700;
}
body main .form form .summary .choice--preview .choice--list:nth-of-type(1) .choice .change {
  font-size: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid transparent;
}
body main .form form .summary .choice--preview .choice--list:nth-of-type(1) .choice .change:hover {
  color: hsl(243deg, 100%, 62%);
  border-bottom: 1px solid;
  cursor: pointer;
}
body main .form form .summary .choice--preview .choice--list:nth-of-type(1) .cost {
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(213deg, 96%, 18%);
}
body main .form form .summary .total, body main .form form .summary .choice--list {
  display: flex;
  justify-content: space-between;
}
body main .form form .summary .total--name, body main .form form .summary .addon--service {
  font-size: 0.8rem;
  color: hsl(231deg, 11%, 63%);
}
body main .form form .summary .choice--list .cost {
  font-size: 0.8rem;
  color: hsl(213deg, 96%, 18%);
}
body main .form form .summary .total {
  align-items: center;
}
body main .form form .summary .total .cost {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(243deg, 100%, 62%);
}
body main .form form .nav--button {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
body main .form form .nav--button .next--step, body main .form form .nav--button button[type=submit] {
  align-self: flex-end;
  padding: 12px 0;
  width: 120px;
  background: hsl(213deg, 96%, 18%);
  border-radius: 7px;
  border: none;
  color: white;
  margin-left: auto;
}
body main .form form .nav--button .go--back {
  background: transparent;
  display: none;
  border: none;
  font-weight: 700;
  color: hsl(231deg, 11%, 63%);
}
body main .form form .nav--button .go--back:hover {
  color: hsl(213deg, 96%, 18%);
}
body main .form form .nav--button button[type=submit] {
  display: none;
}
body main .form form .nav--button button[type=submit]:hover {
  background-color: hsl(243deg, 100%, 62%);
}
body main .form form .nav--button button:hover {
  cursor: pointer;
}
body main .form .thanks {
  width: 75%;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-bottom: 20px;
}
body main .form .thanks .thank--desc {
  font-size: 0.9rem;
  color: hsl(231deg, 11%, 63%);
}
body main .form .thanks .thank--you {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(213deg, 96%, 18%);
}
body main .form .thanks img {
  margin-bottom: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.left {
  margin-left: auto;
}

.choseTime {
  color: hsl(213deg, 96%, 18%) !important;
  font-weight: 600;
}

.ad {
  font-size: 0.7rem;
  color: hsl(213deg, 96%, 18%);
  margin-top: 10px;
}

@media screen and (width <= 500px) {
  body {
    height: auto;
    font-size: 14px;
  }
  body main {
    width: 100%;
    min-height: none;
    padding: 0;
    flex-direction: column;
    background: none;
  }
  body main .navigation {
    width: auto;
    border-radius: 0;
    padding: 55px 75px;
    padding-bottom: 70px;
    background: url("./assets/images/bg-sidebar-mobile.svg");
    background-size: cover;
  }
  body main .navigation ul {
    display: flex;
    justify-content: space-evenly;
  }
  body main .navigation ul li > div .desc {
    display: none;
  }
  body main .form {
    position: relative;
    top: -70px;
    width: 90%;
    background: white;
    margin: auto;
    border-radius: 10px;
  }
  body main .form form {
    width: 85%;
  }
  body main .form form #root {
    margin-bottom: 20px;
  }
  body main .form form .thanks {
    min-height: 500px !important;
  }
  body main .form form .plan--choice {
    display: block;
  }
  body main .form form .plan--choice .plan {
    margin-bottom: 10px;
    flex-direction: row;
    align-items: flex-start;
  }
  body main .form form .plan--choice .plan img {
    margin: 0;
    margin-right: 20px;
  }
  body main .form form .nav--button {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 15px 20px;
  }
  footer {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */